
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="#">Title</a>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active">
      <a [routerLink]="['/index']">Home</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/about']">About</a>
    </li >
    <li routerLinkActive="active">
      <a [routerLink]="['/contact']">Contact</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/products']">Products</a>
    </li>
  </ul>
</nav>
<hr>



